<?xml version="1.0" encoding="utf-8" ?>
<autofac defaultAssembly="Domain">
  <components>
    <!--<component type="Domain.Repository.External.PatientOrderRepository,Domain.Repository.External" service="Domain.Repository.IPatientOrderRepository,Domain"></component>-->
    <!--<component type="Domain.Service.TestService,Domain.Service" service="Domain.IService.ITestService,Domain"></component>-->
  </components>
</autofac>